@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

*{
    margin: 0;
    padding: 0;
}

.app_container{
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 68, 104);
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_div{
    background-color: white;
    display: flex;
    border-radius: 24px;
    padding: 16px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.appdiv_input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 8px;
}

.appdiv_input_icon{
    background-color: rgb(124, 188, 207);
    cursor: pointer;
}

.app_checklist{
    display: flex;
    flex-direction: column;
    scroll-behavior: auto;
    /* height: 100%; */
    overflow: auto;
    width: 100%;
}

.app_check_item{
    padding-bottom: 10px;
    display: flex;
    gap: 8px;
}