.navbar_maindiv{
    position: sticky;
    width: 100%;
    background: white;
}

.navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}

.navbar_filters {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.navbar_guest {
    color: #bdbdbd;
}

.search_opt {
    cursor: pointer;
}

.search_icon {
    color: #eb5757;
}
